<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<body>
  <div class="imagem"></div>
  <header>
    <div class="showcase-top">
      <a [routerLink]="['/home']">
        <img src="https://i.ibb.co/r5krrdz/logo.png" alt="" />
      </a>
    </div>
  </header>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Assinar</h3>
        </div>
        <div class="card-body">
          <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
            <div class="group">
              <div class="input-group form-group">
                <input type="text" #fullName="ngModel" class="form-control"
                  [(ngModel)]="userService.selectedUser.fullName" name="fullName" required
                  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
                <div class="validation" *ngIf="signUpForm.submitted && !fullName.valid">
                  <label *ngIf="email.errors.required" class="validation-message">Este campo é obrigatório.</label>
                </div>
                <label><span class="span-input">Nome Completo</span></label>
              </div>
              <br>
              <div class="input-group form-group">
                <input type="text" #email="ngModel" class="form-control" [(ngModel)]="userService.selectedUser.email"
                  name="email" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
                <div class="validation" *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors.required" class="validation-message">Este campo é obrigatório.</label>
                  <label *ngIf="email.errors.pattern" class="validation-message">Endereço de email inválido.</label>
                </div>
                <label><span class="span-input">E-mail</span></label>
              </div>
              <br>
              <div class="input-group form-group">
                <input type="password" #password="ngModel" class="form-control"
                  [(ngModel)]="userService.selectedUser.password" name="password" minlength="4" maxlength="60" required
                  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
                <div class="validation" *ngIf="signUpForm.submitted && password.errors">
                  <label *ngIf="password.errors.required" class="validation-message">Este campo é obrigatório.</label>
                  <label *ngIf="password.errors.minlength" class="validation-message">A senha deve ter entre 4 e 60
                    caracteres.</label>
                </div>
                <label><span class="span-input">Senha</span></label>
              </div>
            </div>
            <div class="form-group" id="planoNetflix">
              <label><span class="plano">Plano</span></label>
              <select class="form-control" #plano="ngModel" [(ngModel)]="userService.selectedUser.plano" name="plano">
                <option disabled>Escolher...</option>
                <option>Básico</option>
                <option>Padrão</option>
                <option>Premium</option>
              </select>
            </div>
            <br>
            <div class="botao">
              <div class="form-group">
                <input type="submit" value="Assinar" class="btn float-center login_btn">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>Dúvidas? Ligue 0800-761-4631</p>
    <div class="footer-cols">
      <ul>
        <li><a href="#">Termos dos Cartões pré-pagos</a></li>
      </ul>
      <ul>
        <li><a href="#">Termos de uso</a></li>
      </ul>
      <ul>
        <li><a href="#">Declaração de privacidade</a></li>
      </ul>
    </div>
    <br>
    <br>
    <a href="#">Netflix Brasil</a>
  </footer>
</body>
