<div class="body">
    <div class="background">

        <nav class="navbar navbar-dark bg-dark fixed-top">

            <button class="navbar-toggler d-lg-none" type="button">
                <img src="../../../../assets/img/hamburger.gif" alt="Menu">
            </button>

            <a class="navbar-brand flex-grow-1" href="#">
                <img src="../../../../assets/img/logo.png" class="my-1 mx-2" alt="Netflix">
            </a>

            <ul class="nav text-white d-none d-lg-flex">
                <li class="nav-item d-xl-none">
                    <a class="nav-link active text-reset" href="#">Navegar</a>
                </li>
                <li class="nav-item d-xl-none">
                    <a class="nav-link text-reset" href="#">Infantil</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link active text-reset" href="#">Inicío</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link text-reset" href="#">Séries</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link text-reset" href="#">Filmes</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link text-reset" href="#">Mais recentes</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link text-reset" href="#">Minha lista</a>
                </li>
            </ul>

            <form class="form-inline">
                <a href="#"><i class="fa fa-search" aria-hidden="true" style="color: white; font-size: 25px;"></i></a>
                <a href="#"><i class="fa fa-gift" aria-hidden="true" style="color: white; font-size: 25px;"></i></a>
                <a href="#"><i class="fa fa-bell" aria-hidden="true" style="color: white; font-size: 25px;"></i></a>
            </form>

            <div class="media text-white p-2 d-none d-lg-flex">
                <img src="../../assets/img/galinho.png" alt="Avatar" class="mr-2">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>

            <ul class="list-unstyled font-weight-bold sidebar">
                <li class="media media-avatar">
                    <img src="../../../../assets/img/perfil1.png" alt="Avatar" class="mr-2">
                    <div class="media-body">
                        <p class="h6 m-0">Bruno</p>
                        <small>Trocar de perfil</small>
                    </div>
                </li>
                <li class="divider"></li>
                <li><a href="#" class="text-reset">Inicio</a></li>
                <li><a href="#" class="text-reset">Minha lista</a></li>
                <li><a href="#" class="text-reset">Séries de ação e aventura</a></li>
                <li><a href="#" class="text-reset">Ação e aventura</a></li>
                <li><a href="#" class="text-reset">Séries teen</a></li>
                <li><a href="#" class="text-reset">Filmes africanos</a></li>
                <li><a href="#" class="text-reset">Séries da América Latina</a></li>
                <li><a href="#" class="text-reset">Filmes de Anime</a></li>
            </ul>
        </nav>

        <div class="default-title">
            <div class="title-item">
                <video src="../../assets/videos/Dynasty - Official Trailer [HD] - Netflix.mp4"
                    controls autoplay>
                </video>
                <div class="col-12 full-banner text-white">
                    <div class="p-4 d-flex justify-content-start h-100">
                        <div class="espacamento">
                            <h1 class="h3">Dinastia</h1>
                            <small class="d-flex my-2">
                                <span class="mr-3">2017</span>
                                <span class="mr-3">18</span>
                                <span>1ª Temporada</span>
                            </small>
                            <p class="d-none d-lg-block">O bilionário Blake Carrington e a jovem Cristal (Nathalie Kelley) estão prestes a se casar, mas a notícia não parece agradar a todos, principalmente à filha do empresário Fallon Carrington. Como se os conflitos entre as duas já não fossem suficientes, Blake precisa encarar a terrível rede de corrupção da alta sociedade, que pode acabar em assassinato.</p>
                            <a href="#" class="btn btn-primary text-uppercase font-weight-bold">Assistir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="p-3 list-titles">
            <h5 style="color: white;">Populares na Netflix</h5>
            <div class="d-flex flex-nowrap overflow-hidden">
                <div class="list-item">
                    <video src="../../assets/videos/ARQ 2016  - Trailer Dublado HD.mp4"
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../assets/img/1_arq_filme_original_netflix-12091028.jpg" id="arq" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>ARQ</h2>
                            <ul class="infos">
                                <li class="relevance">89% relevante</li>
                                <li class="age age-14"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../assets/videos/ESQUADRÃO 6 - Trailer Final Oficial Netflix (2019) Legendado HD.mp4"
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../assets/img/esquadrao-6.jpg" id="esquadrao6" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Esquadrão 6</h2>
                            <ul class="infos">
                                <li class="relevance">90% relevante</li>
                                <li class="age age-16"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../assets/videos/Reality Z - Trailer Oficial - Netflix Brasil.mp4"
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../assets/img/poster.jpg" id="reality-z" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Reality Z</h2>
                            <ul class="infos">
                                <li class="relevance">88% relevante</li>
                                <li class="age age-16"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../assets/videos/Marianne - Trailer principal - Netflix.mp4"
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../assets/img/marianne.jpg" id="marianne" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Marianne</h2>
                            <ul class="infos">
                                <li class="relevance">92% relevante</li>
                                <li class="age age-18"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><br>

            <h5 style="color: white;">Em alta</h5>
            <div class="d-flex flex-nowrap overflow-hidden">
                <div class="list-item">
                    <video src="../../assets/videos/Poço - Trailer - Dublado (Brasil) [HD].mp4"
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../assets/img/o-poco.jpg" id="poco" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>O Poço</h2>
                            <ul class="infos">
                                <li class="relevance">98% relevante</li>
                                <li class="age age-14"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../assets/videos/Vikings- Season 6 - Official Trailer.mp4"
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../assets/img/vikings-serie.jpg" id="vikings"  alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Vikings</h2>
                            <ul class="infos">
                                <li class="relevance">99% relevante</li>
                                <li class="age age-18"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../assets/videos/Resgate - Trailer oficial - Netflix.mp4"
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../assets/img/resgate.jpg" id="resgate" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Resgate</h2>
                            <ul class="infos">
                                <li class="relevance">100% relevante</li>
                                <li class="age age-16"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../assets/videos/The Open House - Official Trailer [HD] - Netflix.mp4"
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../assets/img/TheOpenHouseBanner.jpg" id="openhouse" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>The Open House</h2>
                            <ul class="infos">
                                <li class="relevance">72% relevante</li>
                                <li class="age age-14"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
