    <div class="container">
      <div id="tab-1-content" class="tab-content-item show">
        <div class="tab-1-content-inner">
          <div>
            <p class="text-lg">
              Se você decidir que o Netflix não é para você - não há problema.
              Sem compromisso. Cancele online a qualquer momento.
            </p>
            <a href="#" class="btn btn-lg">Assista grátis por 30 dias</a>
          </div>
          <img src="https://i.ibb.co/J2xDJV7/tab-content-1.png" alt="" />
        </div>
      </div>
    </div>
