 <div id="tab-3-content" class="tab-content-item">
   <div class="text-center">
     <p class="text-lg">
       Escolha um plano e assista todo o conteúdo da Netflix por um preço único e acessível.
     </p>
     <a href="#" class="btn btn-lg">Assista grátis por 30 dias</a>
   </div>

   <table class="table">
     <thead>
       <tr>
         <th></th>
         <th>Básico</th>
         <th>Padrão</th>
         <th>Premium</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Valor mensal após o mês gratuito.</td>
         <td>R$21,90</td>
         <td>R$32,90</td>
         <td>R$45,90</td>
       </tr>
       <tr>
         <td>HD disponível</td>
         <td><i class="fa fa-times"></i></td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
       </tr>
       <tr>
         <td>Ultra HD disponível</td>
         <td><i class="fa fa-times"></i></td>
         <td><i class="fa fa-times"></i></td>
         <td><i class="fa fa-check"></i></td>
       </tr>
       <tr>
         <td>Telas simultâneas</td>
         <td>1</td>
         <td>2</td>
         <td>4</td>
       </tr>
       <tr>
         <td>Assista no notebook, TV, smartphone ou tablet</td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
       </tr>
       <tr>
         <td>Filmes e séries ilimitados</td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
       </tr>
       <tr>
         <td>Cancele quando quiser</td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
       </tr>
       <tr>
         <td>Primeiro mês grátis</td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
         <td><i class="fa fa-check"></i></td>
       </tr>
     </tbody>
   </table>
 </div>
